.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container{
    min-height: 70vh; /* Agregue una altura mínima al contenedor */
    padding-bottom: 30px; 
  }


  .boton_p1 {
    border: 0;
    background-image: linear-gradient(150deg, #AE67FA, #F49867);
    border-radius: 8px; 
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.boton_p1 span {
    background-color: #111;
    padding: 14px 20px;
    border-radius: 6px;
    transition: .3s;
}

.boton_p1:hover span {
    background: none;
}

.boton_p1:active {
    transform: scale(0.9);
}


  
  